.Button {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);

  &.fullWidth {
    width: 100%;
  }

  &.clear {
    color: var(--color-text);

    background: none;
    border: none;
    cursor: pointer;

    svg {
      fill: var(--color-text);
    }
  }

  &.primary {
    border-color: red;
  }

  &.secondary {
    border-color: blue;
  }

  &.outline {
    background: none;
  }
}
