.TreeItemTitle {
  width: 100%;
  padding: 2px 4px;

  line-height: 24px;

  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;

  .titleBtn {
    padding: 0 4px;

    display: flex;
    align-items: start;
  }

  .deleteBtn {
    padding: 2px;

    display: none;
    margin-left: auto;

    &:hover {
      background-color: var(--color-tree-delete-hover);
    }
  }

  &:hover .deleteBtn {
    display: flex;
  }

  &.withoutArrow {
    margin-left: 24px;
  }

  &:hover {
    background-color: var(--color-tree-item-hover);
  }
}
