.treeItem {
    width: 100%;
    text-align: start;
    background-color: lightgray;
}

.treeItem__header {
    display: flex;
    width: 100%;
    align-items: center;
}


.treeItem__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
}

.disabled {
    svg {
        fill: gray;
    }
}

.treeItem__arrow svg {
    transform: rotate(-90deg);
    transition: .3s;
}

.treeItem__arrow:hover {
    background-color: darkgrey;
}

.treeItem__arrow_open svg {
    transform: rotate(0deg);
}

.treeItem__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    line-height: 24px;
}

.treeItem__title:hover {
    background-color: darkgrey;
}
.treeItem__title:hover .item__title__toolbar {
    display: block;
}


.item__title__toolbar {
    display: none;
    margin-left: auto;
}

.treeItem__title_withoutArrow {
    margin-left: 24px;
}

.treeItem__title:hover {
    background-color: lightcyan;
}

.noData {
    margin-left: 24px;
}
@keyframes drop {
    from {
        z-index: -1;
        opacity: 0;
        transform: translateY(-24px);
    }

    to {
        z-index: 0;
        opacity: 1;
        transform: translateY(0);
    }
}

.treeItem__children {
    animation-name: drop;
    animation-duration: .2s;
    height: 100%;
    margin-left: 12px;
}
