.Sidebar {
  width: var(--sidebar-width);
  padding: 4px;

  transition: var(--transition-slow);
  border-right: 1px solid var(--gray-light-2);

  &.rolled {
    width: var(--sidebar-rolled);
  }

  .menu {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    transition: var(--transition-slow);
  }
}
