.Code {
  margin: 4px 0;
  padding: 8px;

  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  color: var(--color-code-text);

  border-radius: 4px;

  background-color: var(--color-code-bg);
  border: 1px solid gray;
}
