.Layout {
  background-color: var(--color-bg);
  transition: background-color var(--transition-slow);

  .container {
    display: flex;

    .main {
      flex-grow: 1;
      min-height: calc(100vh - var(--header-height));
    }
  }
}
