:root {
  /* Sizes */
  --header-height: 40px;
  --sidebar-width: 360px;
  --sidebar-rolled: 60px;

  /* Animation */
  --transition-slow: .25s;
  --color-dark: #0f1225;
  --color-blue: #1f4b8e;
  --color-bright-blue: #adbccd;
  --color-light: #f1ece6;
  --color-pastel-pink: #eadbd4;
}