.app_dark_theme {
  --color-bg: var(--blue-dark-3);
  --color-code-text: var(--white);
  --color-code-bg: var(--blue-dark-1);
  --color-primary: var(--blue);
  --color-text: var(--gray-light-3);
  --color-text-secondary: var(--gray-light-4);
  --color-tree-item-hover: var(--gray-dark-3);
  --color-tree-delete-hover: var(--gray-dark-4);
  --color-linear-loader: var(--linear-loader-gradient-dark);
  --color-overlay: rgb(0 0 0 / 60%);
}
