.app_light_theme {
  --color-bg: var(--white);
  --color-code-text: var(--white);
  --color-code-bg: var(--blue-dark-2);
  --color-primary: var(--blue);
  --color-text: var(--black);
  --color-text-secondary: var(--gray-dark-3);
  --color-tree-item-hover: var(--gray-light-2);
  --color-tree-delete-hover: var(--gray-light-1);
  --color-linear-loader: var(--linear-loader-gradient-light);
  --color-overlay: rgb(0 0 0 / 60%);
}
