.Article {
  width: 100%;

  background-color: var(--color-bg);

  &.contentReady {
    animation-name: show;
    animation-duration: var(--transition-very-slow);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
